<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql:///spider?rewriteBatchedStatements=true&amp;useSSL=true&amp;serverTimezone=CTT&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="config/mapper/AddressMapper.xml" />
        <mapper resource="config/mapper/CompanyMapper.xml" />
        <mapper resource="config/mapper/JobMapper.xml" />
    </mappers>

</configuration>